*, *::before, *::after{
    box-sizing: border-box; 
}


body {
      font-family: 'Source Sans Pro', sans-serif;
      color: #404040;
      margin: 0;
      padding: 0;
  }
  
  /* Typography*/
  
  p{
      font-size: 1.125rem;
      line-height: 1.35em;
  }

  h1 {
      font-size: 2.5rem;
      text-shadow: 0 2px 2px #816fca;
      /* text-shadow: h-shadow v-shadow blur-radius color; */
      font-weight: 400;
      order: 2;
  }

  h2{
      font-size: 2.25rem;
      margin: 0.167em 0;
  }

  span{
      text-transform: uppercase;
  }

  .beta-text,
  .top-text,
  .subheading {
    text-transform: uppercase;
  }

  
  .beta-text { 
      font-weight: 900;
      order: 2;
     
  }
  
  .subheading {
      color: #575757;
      font-weight: 900;
      margin-bottom: 0.5em;
  }

  .top-text {
    font-size: 0.875rem;
    font-weight: 900;
    padding-top: 0.25em;
    border-top: 5px solid;
    margin: 0 auto;
    order: 0;
  }

  .fine-print {
      font-size: 0.75rem;
      letter-spacing: 1px;
      color: #858585;
  }

  /* Flex Containers */

  .intro,
  .main-content{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      padding: 2.5em 2em;     
  }

  .main-content p,
  form{
    max-width: 450px;
    
  }

  /* Intro*/
     
  .intro { 
      background: #9480e4 url("images/background-img.jpg");
      background-size: cover;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      min-height: 250px;
      color: #fff;
      background-color: #9480e4;
      padding: 1.5em;
  }
  
  /* Main Content */

  .main-content{
      align-items: center;
      text-align: center;
  }

  .img-main{
      width: 120px;
      height: 120px;
      border-radius: 50%;
  }

  .main-content p{
      text-align: left;
  }
  
  /* Form*/

input,
button{
      width: 100%; 
      border-radius: 5px;
      font-family: inherit;
}

input{
      margin-bottom: 0.8em;
      padding: 0.5em;
      border: solid 2px #d1d5db;
  }

  input:focus{
      outline: none;
      border-color: #8a71ec;
      background-color: #e6e8ec;
  }

  .btn{
      
      padding: 1em 0;
      
      border: none;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 1px;
      font-weight: 600;
      color: white;
      cursor: pointer;
  }

  .btn-primary{
    color: white;
    background-color: #CBCDAAff;
    margin-top: 1em;
  }

  .btn-primary:hover,
  .btn-primary:focus{
      background-color: #A1A2B4ff;
  }

  /* Media Queries */

  @media(min-width: 576px){
      body{
            display: flex;
      }

      .intro, .main-content{
            flex: 1;
      }

      .main-content{
            justify-content: center;
            padding-top: 0;
      }

      h1{
            font-size: 5vw;
      }

      h2{
            font-size: 2.625rem;
      }

      .beta-text{
            font-size: 1.25rem;
      }


  }